<%= render 'components/header' %>
<div class="tweets container">
  <div class="profile">
    <div class="profile-card">
      <div class="profile-header">

      </div>
      <div class="profile-body">
        <div class="profile-user">
          <%= image_tag @user.photo.url, class: 'profile-img' %>
          <div class="profile-name">
              <div><%= @user.first_name %></div>
              <div>@<%= @user.email.split('@')[0]%></div>
              <% if @user.id == session[:user_id] %>
                <%= link_to 'Editar', edit_user_path(@user), class: 'ui button primary basic tiny' %>
              <% end %>
          </div>
        </div>
        <div class="profile-details">
          <div class="profile-tweets">
            <div>Tweets</div>
            <div><%=@user.tweets.size%></div>
          </div>
          <div class="profile-follows">
            <div>Following</div>
            <div><%=@user.follows.size %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="body">
    <%= render 'components/create_tweet', locals: {user: User.find(session[:user_id]), tweet: @tweet}%>
    <%= render partial: 'components/tweet', collection: @tweets.reverse %>
  </div>
  <%= render 'components/users', locals: { users: @users } %>
</div>
